@{
    ViewData["Title"] = "Pesho Gosho";
    string bou = "BHjkOL";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewBag.Message</h3>


<b></b>
<b>"hkhlkljhgy"</b>
<p>@bou</p>

<p>Koo stava.</p>
<p>Dran dran. hkhjk</p>
<h1>GHP ghj</h1>