
@{
    ViewBag.NNN = "Nums 1 .. " + ViewBag.jkl;
}

<h2>@ViewBag.NNN</h2>
<ul>
    @for (int i = 1; i <= ViewBag.jkl; i++)
    {
        <li>@i</li>
    }
</ul>
<h1></h1>
<li>gljjhl</li>

<form method="post">
    <input type="text" placeholder="New numnum" name="PichMich" />
    <input type="submit" />    
</form>

